.app-header {
    background-color: var(--clr1);
    color: var(--clr2bg-light);
    
}

.app-nav {
    display: flex;
    gap: var(--paddingGap);
    padding-block: 1var(--paddingGap);
    font-size: 1.3em;
}




@media (max-width: 720px) {
    .app-header {
        color: var(--clr2bg-light);
    }
}
