.book-filter {
    background-color: var(--clr2bg);
}

.book-filter form {
    display: grid;
    grid-template-columns: 100px 200px;
}


.book-filter form button {
    border: 1px solid var(--gray3);
    grid-column: 1 / span 2;
    margin-inline: auto;
}