.book-list {
    padding: var(--paddingGap) 0 0;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    gap: var(--paddingGap);
}

.book-list li {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    /* background-color: var(--clr1bg); */
    background-color: #7394b6;
    color: whitesmoke;
}


.book-list li>*:last-child() {
    justify-self: flex-end;
}

section .flex {
    align-items: center;
}

